[user]
# ======== CHANGE THIS TO YOUR OWN INFORMATION ======= #
email = Duinkerkenroy1123@gmail.com
name = Roy Duinkerken

[alias]
statusnum = !"git-custom-commands.sh" statusnum
addnum = !"git-custom-commands.sh" addnumber
restorenum = !"git-custom-commands.sh" restorenum
resetnum = !"git-custom-commands.sh" resetnum
diffnum = !"git-custom-commands.sh" diffnum

# command to start editting your .gitconfig file
viewconfig= "!git config --global --edit"

# amend while without changing commit message
amend = commit --amend --no-edit

# shorthand for status
st = status

# select menu branch checkout - requires fuzzyfinder
co = !git checkout $(git branch --sort=-committerdate | fzf)

# allows adding files using fuzzy finder selection
fadd = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"

# allows restoring files using fuzzy finder selection
frestore = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git restore"

# allows cleaning up files using fuzzy finder selection
fclean = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o rm"

# show splitscreen diff of file - might still be a bit buggy
diffs = difftool -y
aliasses = config --get-regexp alias

# view branch history + commits made on that branch + author + date
bh = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

# undo local work - except untracked files
undolocal = reset --hard HEAD

# ===== Basic Configurations ===== #
[color]
status = auto
ui = true

[push]
default = current

[pull]
rebase = true

[help]
autocorrect = 0 # please dont give git the opportunity to catastrophically destroy your masterworks.

[init]
defaultBranch = main
